<footer class="main">
  <div class="f-info border-bottom">
    <h2>Inspiration for future getaways</h2>
    <div class="support">
      <p><b>Support</b></p>
      <p>Help Centre</p>
      <p>AirCover</p>
      <p>Anti-discrimination</p>
    </div>
    <div class="hosting">
      <p><b>Hosting</b></p>
      <p>Airbnb your home</p>
      <p>AirCover for Hosts</p>
      <p>Hosting resources</p>
    </div>
    <div class="airbnb">
      <p><b>Airbnb</b></p>
      <p>Newsroom</p>
      <p>New features</p>
      <p>Careers</p>
    </div>
  </div>
  <div class="f-info">
    <div class="f-info-brand">&copy; 2024 Airbnb,Inc.</div>
    <div class="f-info-links">
      <ul>
        <li><a href="/privacy">privacy</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Company details</a></li>
      </ul>
    </div>
    <div class="f-info-socials">
      <i class="fa-solid fa-globe globe"></i>
      <p>
        English (IN) &nbsp;<span
          ><b>&nbsp; &nbsp; &nbsp; &#8377; &nbsp;INR</b>
        </span>
      </p>
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
</footer>
